/*
//test markup
<div class="test">

  <div>test</div>
  <div>test</div>
  <div>test</div>
  <div>test</div>
  <div>test</div>
  <div>test</div>
  <div>test</div>
  <div>test</div>
  <div>test</div>
  <div>test</div>
  <div>test</div>
  <div>test</div>
</div>


*/
/* global resest  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  width: 100vw;
}

html {
  font-size: 62.5%;
  /* 1rem =10px */
}

@media screen and (max-width: 62.5em) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 43.75em) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 34.375em) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 25em) {
  html {
    font-size: 40%;
  }
}

@media screen and (max-width: 18.75em) {
  html {
    font-size: 35%;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.none.btn--green.btn {
  border: none;
  background-color: transparent !important;
  font-size: 2rem;
  padding: 2rem 3rem;
  border-radius: 2rem;
}

body {
  width: 100vw !important;
  overflow-x: hidden;
}

.disclaimer {
  display: none !important;
}

/* postion animation 

**camefrombottom
**camefromleft
**camefromright


*/
@-webkit-keyframes camefrombotoom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  80% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes camefrombotoom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  80% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes camefromleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    opacity: 0.5;
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes camefromleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    opacity: 0.5;
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes camefromright {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    opacity: 0.5;
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes camefromright {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    opacity: 0.5;
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.heading_primary {
  text-transform: capitalize;
  color: #fff;
}

.heading_primary:hover {
  text-transform: capitalize;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /* if we have the shaking of the animation we must use this to hide the sh */
}

.heading_primary div:nth-child(1) {
  font-size: 5.3rem;
  font-weight: 500;
  letter-spacing: 3rem;
  /* about the animation */
  -webkit-animation-name: camefromleft;
          animation-name: camefromleft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  /* animation-delay: 1s;
    animation-iteration-count: 2000;
    slow to fast  (how do u want the animation to be in the funciton of the time )  */
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  margin-bottom: 1rem;
}

@media screen and (max-width: 25em) {
  .heading_primary div:nth-child(1) {
    font-size: 4rem;
    letter-spacing: 2rem;
  }
}

.heading_primary div:nth-child(2) {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
  /* about the animation */
  -webkit-animation-name: camefromright;
          animation-name: camefromright;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  /* animation-delay: 10s;
    animation-iteration-count: 2000; */
}

@media screen and (max-width: 25em) {
  .heading_primary div:nth-child(2) {
    font-size: 1.5rem;
    letter-spacing: 1rem;
  }
}

.heading_secondary {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: all .2s;
  transition: all .2s;
  letter-spacing: 2px;
}

.heading_secondary:hover {
  -webkit-transform: skewY(2deg) scaleY(1.2);
          transform: skewY(2deg) scaleY(1.2);
  text-shadow: 0.5rem 2rem 2rem rgba(0, 0, 0, 0.1);
}

.heading_tertiary {
  color: black;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.heading_tertiary {
  margin-top: 0rem;
  margin-bottom: 2rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.heading_tertiary + p:not(:last-child) {
  font-size: 1.6rem;
}

.heading_tertiary + p:not(:last-child) {
  margin-top: 0rem;
  margin-bottom: 3rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}

.centerit {
  text-align: center;
}

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(40, 180, 133, 0.85)), to(rgba(126, 213, 111, 0.85))), url("../../img/hero.jpg");
  background-image: linear-gradient(to top, rgba(40, 180, 133, 0.85), rgba(126, 213, 111, 0.85)), url("../../img/hero.jpg");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  background-size: cover;
  background-position: top;
  position: relative;
}

.header__logo_box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__midlebox {
  position: absolute;
  top: 0;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
  color: #777;
}

.section-about h2 {
  margin-top: 0rem;
  margin-bottom: 10rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.about_main {
  padding: 0 3rem;
}

.about_main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
}

@media screen and (max-width: 62.5em) {
  .about_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.feature_section {
  height: 150vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(40, 180, 133, 0.85)), to(rgba(126, 213, 111, 0.85))), url(../../img/nat-4.jpg);
  background-image: linear-gradient(to top, rgba(40, 180, 133, 0.85), rgba(126, 213, 111, 0.85)), url(../../img/nat-4.jpg);
  background-position: top;
  background-size: cover;
  margin-top: -20vh;
  -webkit-clip-path: polygon(0 20vh, 100vw 0, 100vw 130vh, 0 150vh);
          clip-path: polygon(0 20vh, 100vw 0, 100vw 130vh, 0 150vh);
  position: relative;
}

@media screen and (max-width: 62.5em) {
  .feature_section {
    height: 200vh;
    margin-bottom: -70vh;
  }
}

@media screen and (max-width: 25em) {
  .feature_section {
    margin-bottom: 0;
    height: 160vh;
  }
}

@media screen and (max-width: 25em) {
  .feature_section {
    -webkit-clip-path: none;
            clip-path: none;
  }
}

.feature_section_box {
  position: absolute;
  top: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.feature_section_box {
  display: -ms-grid;
  display: grid;
  width: 85vw;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

@media screen and (max-width: 62.5em) {
  .feature_section_box {
    top: 35%;
  }
  .feature_section_box {
    display: -ms-grid;
    display: grid;
    width: 85vw;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
    row-gap: 6rem;
  }
}

@media screen and (max-width: 25em) {
  .feature_section_box {
    bottom: 0;
    margin-bottom: 0;
  }
  .feature_section_box {
    display: -ms-grid;
    display: grid;
    width: 85vw;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
    row-gap: 6rem;
  }
}

.feature_section_box:hover .feature_section_box_card:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.feature_section_box_card {
  text-align: center;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  opacity: 0.8;
  padding: 2.5rem 2rem;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.feature_section_box_card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  outline: 1rem solid #fff;
  outline-offset: 1rem;
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
}

.feature_section_box_card:hover .feature_section_box_card_title p {
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}

.feature_section_box_card_decription p {
  color: #777;
  font-size: 1.6rem;
}

.feature_section_box_card_title p {
  color: #000;
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
}

.feature_section i {
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 8rem;
}

.sect_tours {
  background-color: #f7f7f7;
  margin-top: -20vh;
  height: 150vh;
}

.sect_tours h2 {
  margin-top: 25rem;
}

@media screen and (max-width: 43.75em) {
  .sect_tours {
    height: 311vh;
  }
}

@media screen and (max-width: 25em) {
  .sect_tours {
    height: 311vh;
  }
}

.cards {
  width: 90vw;
  margin: 0 auto;
  margin-top: 10rem;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 5rem;
          column-gap: 5rem;
}

@media screen and (max-width: 62.5em) {
  .cards {
    width: 95vw;
  }
  .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
}

@media screen and (max-width: 43.75em) {
  .cards {
    width: 50vw;
    height: 240vh;
  }
  .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    row-gap: 4rem;
  }
}

@media screen and (max-width: 43.75em) {
  .cards {
    width: 60vw;
  }
  .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    row-gap: 4rem;
  }
}

.card {
  -webkit-perspective: 100rem;
          perspective: 100rem;
  position: relative;
}

@media screen and (max-width: 43.75em) {
  .card {
    -webkit-perspective: 150rem;
            perspective: 150rem;
  }
}

.card_side {
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  height: 75vh;
  width: 100%;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card_side--front {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.card_side--front_img1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f08c0080)), url("../../img/nat-5.jpg");
  background-image: linear-gradient(#f08c0080), url("../../img/nat-5.jpg");
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  background-position: center;
  position: relative;
}

.card_side--front_img1::before {
  content: "explorer";
  text-transform: uppercase;
  color: white;
  background-color: #f08c00;
  opacity: .9;
  display: inline-block;
  padding: .5rem 10%;
  position: absolute;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  bottom: 6%;
  right: 7%;
}

.card_side--front_img1::after {
  content: "the sea ";
  text-transform: uppercase;
  color: white;
  background-color: #f08c00;
  display: inline-block;
  padding: .5rem 10%;
  position: absolute;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: .8;
  bottom: 22%;
  right: 10%;
}

.card_side--front_img2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#69db7c80)), url("../../img/nat-6.jpg");
  background-image: linear-gradient(#69db7c80), url("../../img/nat-6.jpg");
  background-size: cover;
  height: 90%;
  background-position: center;
  position: relative;
}

.card_side--front_img2::before {
  content: "hiker";
  text-transform: uppercase;
  color: white;
  background-color: #69db7c;
  display: inline-block;
  padding: .5rem 10%;
  position: absolute;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: .8;
  bottom: 4%;
  right: 7%;
}

.card_side--front_img2::after {
  content: "the forset ";
  text-transform: uppercase;
  color: white;
  background-color: #69db7c;
  display: inline-block;
  padding: .5rem 10%;
  position: absolute;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: .8;
  bottom: 22%;
  right: 10%;
}

.card_side--front_img3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#66d9e880)), url("../../img/nat-7.jpg");
  background-image: linear-gradient(#66d9e880), url("../../img/nat-7.jpg");
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  position: relative;
}

.card_side--front_img3::before {
  content: "adventurer";
  text-transform: uppercase;
  color: white;
  background-color: #66d9e8;
  display: inline-block;
  padding: .5rem 10%;
  position: absolute;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: .9;
  bottom: 5.5%;
  right: 7%;
}

.card_side--front_img3::after {
  content: "the snow ";
  text-transform: uppercase;
  color: white;
  background-color: #66d9e8;
  display: inline-block;
  padding: .5rem 10%;
  position: absolute;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: .8;
  bottom: 22%;
  right: 10%;
}

.card_side--front_desc {
  padding: 2rem 0rem;
}

.card_side--front_desc ul {
  font-size: 1.8rem;
  list-style: none;
  gap: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #777;
}

.card_side--front_desc ul li:not(:last-child) {
  border-bottom: 2px solid #f7f7f7;
}

.card_side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_side--back1 {
  background-image: -webkit-gradient(linear, left top, right top, from(#f9ab00), color-stop(45%, #f49f28));
  background-image: linear-gradient(90deg, #f9ab00 0%, #f49f28 45%);
}

.card_side--back2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.card_side--back3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card_side--back_ul {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 3rem;
}

.card_side--back_ul_libelle {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
}

.card_side--back_ul_price {
  font-size: 8rem;
  font-weight: 200;
}

.card:hover .card_side--front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .card_side--back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.fix {
  background-color: #f7f7f7;
  text-align: center;
}

.fix a {
  margin: 4rem 0 !important;
}

.story {
  position: relative;
}

.story_box {
  width: 80%;
  height: 150vh;
  padding-bottom: 10vh;
  margin: 0 auto;
  padding-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}

@media screen and (max-width: 43.75em) {
  .story_box {
    width: 75%;
  }
}

@media screen and (max-width: 34.375em) {
  .story_box {
    height: 300vh;
    width: 80vw;
  }
}

@media screen and (max-width: 34.375em) {
  .story_box {
    gap: 10rem;
  }
}

.story_box_element {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr  4fr;
      grid-template-columns: 1fr  4fr;
  color: #777;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  background-color: rgba(255, 255, 255, 0.507);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 3rem;
  -webkit-transform: skew(-14deg);
          transform: skew(-14deg);
  font-size: 1.5rem;
}

@media screen and (max-width: 34.375em) {
  .story_box_element--2box {
    padding: 4rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 34.375em) {
  .story_box_element {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
    padding: 2rem;
    height: 100vh;
    padding: 2rem;
  }
}

@media screen and (max-width: 34.375em) {
  .story_box_element {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}

.story_box_element > * {
  -webkit-transform: skew(14deg);
          transform: skew(14deg);
}

@media screen and (max-width: 34.375em) {
  .story_box_element > * {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}

.story_box_element h3 {
  color: #000;
}

.story_box_element_img {
  width: 15rem;
  height: 15rem;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

@media screen and (max-width: 34.375em) {
  .story_box_element_img {
    width: 20rem;
    height: 20rem;
  }
}

.story_box_element_img img {
  width: 100%;
  height: 100%;
}

.video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  height: 150vh;
  overflow: hidden;
  opacity: .15;
}

@media screen and (max-width: 34.375em) {
  .video {
    height: 300vh;
  }
}

.story_box_element_img {
  -ms-grid-column-align: center;
      justify-self: center;
}

.hover {
  position: relative;
}

.hover_img {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.hover_img img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.hover:hover .hover_img img {
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.hover_caption {
  position: absolute;
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  bottom: 0;
  left: 50%;
  -webkit-transition: all .6s ease-out;
  transition: all .6s ease-out;
}

.hover:hover .hover_caption {
  bottom: 35%;
  opacity: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.form {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-color: palegreen;
  position: relative;
}

.form_box {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 5vh;
  background-image: url("../../img/nat-10.jpg");
  background-position: right;
}

.form_box_container {
  background-color: rgba(255, 255, 255, 0.9);
  height: 100%;
  width: 80%;
  -webkit-clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
  position: absolute;
}

@media screen and (max-width: 43.75em) {
  .form_box_container {
    -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  }
}

@media screen and (max-width: 34.375em) {
  .form_box_container {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
  }
}

.form_box_container_content {
  position: relative;
  top: 5%;
  left: 10%;
  height: 90%;
  width: 60%;
}

@media screen and (max-width: 43.75em) {
  .form_box_container_content {
    width: 75%;
    left: 5%;
  }
}

@media screen and (max-width: 34.375em) {
  .form_box_container_content {
    width: 90%;
    left: 5%;
  }
}

.form_box_container_content h3 {
  font-size: 3rem;
  margin: 4rem 0;
}

.form_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form_content input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 4vh;
}

.form_content input:focus {
  outline: none;
  border-radius: 0px;
  border-bottom: 3px red solid;
}

.radio_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  margin-top: 5vh;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.radio_area div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: 1rem;
  gap: 1.5rem;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radio_area div input {
  width: 3rem;
  height: 3rem;
  opacity: 0;
}

.radio_area div span {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50% !important;
  position: absolute;
  left: 0;
  outline: 5px solid #28b485;
  outline-offset: 5px;
  z-index: -1;
}

.radio_area div input:checked ~ span {
  background-color: #28b485;
}

.radio_area div label {
  color: #777;
  font-size: 2rem;
}

/* From cssbuttons.io by @adamgiebl */
.cssbuttons-io-button {
  background: #A370F0;
  background: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background: linear-gradient(to right, #7ed56f, #28b485);
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 1.6em -0.6em #714da6;
          box-shadow: inset 0 0 1.6em -0.6em #714da6;
  -webkit-box-shadow: inset 0 0 1.6em -0.6em #7ed56f;
          box-shadow: inset 0 0 1.6em -0.6em #7ed56f;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  -webkit-box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
          box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  -webkit-box-shadow: 0.1em 0.1em 0.6em 0.2em #28b485;
          box-shadow: 0.1em 0.1em 0.6em 0.2em #28b485;
  right: 0.3em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  color: #7b52b9;
  color: #7ed56f;
}

.cssbuttons-io-button:hover .icon svg {
  -webkit-transform: translateX(0.1em);
          transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.flexcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  height: 120vh;
  background-image: url("../../img/Colored Patterns.svg");
  padding: 15vh 0;
  margin-top: 10vh;
}

.footer img {
  width: 20%;
}

@media screen and (max-width: 25em) {
  .footer img {
    width: 40%;
  }
}

.footer-bottom {
  display: -ms-grid;
  display: grid;
  gap: 20vw;
  gap: 10rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 10vh;
}

@media screen and (max-width: 62.5em) {
  .footer-bottom {
    gap: 10vw;
  }
}

@media screen and (max-width: 34.375em) {
  .footer-bottom {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 10rem;
  }
}

@media screen and (max-width: 34.375em) and (max-width: 25em) {
  .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    margin: 0vh;
  }
}

@media screen and (max-width: 62.5em) {
  .footer-bottom {
    margin: 5vh;
  }
}

.footer-bottom-part {
  border-top: solid 1px white;
  padding: 4vh 0;
  color: white;
}

.social-footer-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-footer-icons ul a {
  text-decoration: none;
}

.social-footer-icons ul a:hover {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.social-footer-icons ul i {
  color: #55c57a;
  font-size: 3rem;
}

.footer-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 25em) {
  .footer-navigation ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-navigation ul a {
  text-decoration: none;
  color: #55c57a;
  font-size: 1rem;
}

@media screen and (max-width: 25em) {
  .footer-navigation ul a {
    font-size: 2rem;
  }
}

.footer-navigation ul a:hover {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.ph-x {
  opacity: 0;
}

.navigation input {
  display: none;
}

.navigation input:checked ~ nav {
  opacity: 1;
  width: 100vw;
}

.navigation input:checked ~ .navigation__background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation input:checked ~ label .ph-x {
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
}

.navigation input:checked ~ label .ph-list {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
          transform: translate(-50%, -50%) rotate(-180deg);
  opacity: 0;
}

.navigation input:checked ~ nav ul {
  visibility: visible;
}

.navigation nav {
  height: 90vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.navigation nav ul {
  position: absolute;
  left: 50%;
  top: 50%;
  visibility: hidden;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation nav ul li {
  width: 40vw;
}

@media screen and (max-width: 62.5em) {
  .navigation nav ul li {
    width: 50vw;
  }
}

@media screen and (max-width: 43.75em) {
  .navigation nav ul li {
    width: 60vw;
  }
}

@media screen and (max-width: 43.75em) {
  .navigation nav ul li {
    width: 75vw;
  }
}

.navigation nav ul li a:visited, .navigation nav ul li a:link {
  padding: 1rem 2rem;
  font-size: 3rem;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  -webkit-transition: all .4s;
  transition: all .4s;
  display: inline-block;
}

.navigation nav ul li a:hover, .navigation nav ul li a:active {
  background-position: 100%;
  color: #28b485 !important;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.navigation__background {
  border-radius: 50%;
  background-image: radial-gradient(#7ed56f, #28b485);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.32, 0, 0.67, 0);
  transition: -webkit-transform 0.8s cubic-bezier(0.32, 0, 0.67, 0);
  transition: transform 0.8s cubic-bezier(0.32, 0, 0.67, 0);
  transition: transform 0.8s cubic-bezier(0.32, 0, 0.67, 0), -webkit-transform 0.8s cubic-bezier(0.32, 0, 0.67, 0);
  position: fixed;
  height: 6rem;
  width: 6rem;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
}

@media screen and (max-width: 34.375em) {
  .navigation__background {
    height: 5rem;
    width: 5rem;
    top: 5.5rem;
    right: 5.5rem;
  }
}

.navigation__button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  position: fixed;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 34.375em) {
  .navigation__button {
    height: 6rem;
    width: 6rem;
    top: 5rem;
    right: 5rem;
  }
}

.navigation__button i {
  color: black !important;
  font-size: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .1s;
  transition: all .1s;
  cursor: pointer;
}

.navigation i:hover {
  font-size: 3.5rem !important;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3.5rem;
  display: inline-block;
  margin-top: 6rem;
  border-radius: 3rem;
  font-size: 1.8rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  /* that 0 % start just after the delay that is .75s */
}

.btn--animated {
  -webkit-animation: camefrombotoom 1s ease-out 0.75s;
          animation: camefrombotoom 1s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn:hover {
  -webkit-transform: translateY(-0.4rem);
          transform: translateY(-0.4rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.164);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.164);
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  /* related to link and visted  */
}

.btn--white {
  background-color: white;
  color: #777;
}

.btn--green2 {
  background-color: #55c57a;
  color: white;
}

.btn--green2::after {
  background-color: #55c57a;
}

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn--white::after {
  background-color: white;
}

.btn:hover::after {
  -webkit-transform: scaleX(1.5) scaleY(1.7);
          transform: scaleX(1.5) scaleY(1.7);
  opacity: 0;
}

.btn--green {
  color: #7ed56f;
}

.btn--green:not(:hover) {
  padding: 0 !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #7ed56f;
}

#fix1 {
  margin-top: 10rem;
}

.gallery {
  position: relative;
  width: 33vw;
  height: 50vh;
}

@media screen and (max-width: 62.5em) {
  .gallery {
    width: 45vw;
  }
}

@media screen and (max-width: 43.75em) {
  .gallery {
    width: 70vw;
  }
}

.gallery_img {
  width: 65%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: .5rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.gallery_img_1 {
  position: absolute;
  top: -5%;
  left: 0;
}

.gallery_img_2 {
  position: absolute;
  right: 15%;
  top: 25%;
  z-index: 1;
}

.gallery_img_3 {
  position: absolute;
  right: 0;
  top: 25vh;
}

.gallery_img:hover {
  z-index: 2;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  outline: 1rem solid #28b485;
  outline-offset: 1rem;
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
}

.gallery:hover .gallery_img:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

/* From cssbuttons.io */
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

button.learn-more .button-text {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

/* From cssbuttons.io by @alexmaracinaru */
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: none;
  background: none;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.cta:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.popup {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s  .2s;
  transition: all .5s  .2s;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
}

.popup i {
  opacity: 1;
}

.popup span {
  position: absolute;
  right: 2%;
  top: 2%;
}

.popup span a {
  text-decoration: none;
  color: #777;
  font-size: 3rem;
  font-weight: 400;
}

.popup span a :hover {
  color: #55c57a;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup_box {
  background-color: white;
  padding-right: 4rem;
  position: absolute;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  display: -ms-grid;
  display: grid;
  width: 70vw;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  gap: 4rem;
  border-radius: .5rem;
  overflow: hidden;
}

@media screen and (max-width: 43.75em) {
  .popup_box {
    padding: 4rem;
  }
}

@media screen and (max-width: 62.5em) {
  .popup_box {
    width: 80vw;
    height: 80vh;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 43.75em) {
  .popup_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 75vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.popup_img {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (2)[1fr];
      grid-template-rows: repeat(1fr, 2);
}

@media screen and (max-width: 43.75em) {
  .popup_img div {
    display: none;
  }
}

.popup_img img {
  width: 100%;
  height: 100%;
}

.popup_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 4rem;
  padding: 2rem;
}

@media screen and (max-width: 62.5em) {
  .popup_content {
    padding: .5rem;
  }
}

.popup_content h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: red;
}

.popup_content h3 {
  font-size: 2rem;
  font-weight: 700;
}

.popup_content .terms {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: left;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-size: 1.2rem;
  color: #777;
}

@media screen and (max-width: 43.75em) {
  .popup_content .terms {
    font-size: 1.5rem;
  }
}

.popup_content .terms .left {
  border-right: 1px solid #777;
  padding-right: 1rem;
}

.popup_content .terms .right {
  padding-left: 1rem;
}
/*# sourceMappingURL=main.css.map */